node_modules/
.vscode/
.idea/
yarn-error.log
npm-debug.log
alias.sh
src/common/config/db.js
src/common/config/app.js
src/common/lib/event-bus
src/uploads
reportes/
deploy/roles/backend/files/base-backend
deploy/roles/frontend/files/base-backend

## temporales creados por emacs
*~
\#*\#
.\#*
