<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PDF</title>
  <style>
    body {
      font-family: 'Arial';
      font-size: 15px;
    }

    td {
      max-width: 30px;
    }

    table,
    th,
    td {
      border: none;
      border-collapse: collapse;
      padding: 5px;
    }


    .background-titulo {
      background-color: #607D8B;
      color: #FFFFFF;
      text-align: center;
    }

    .background-subtitulo {
      background-color: #B0BEC5;
      color: #FFFFFF;
      text-align: center;
    }

    .text-h6 {
      font-size: 20px;
      font-weight: bold;
    }


    .text-h7 {
      font-size: 15px;
      font-weight: bold;
    }

    .text-center {
      text-align: center;
    }

    .no-padding {
      padding: 0px;
    }

    .no-margin {
      margin: 0px;
    }

    .text-bold {
      font-weight: bold;
    }

    .text-center {
      text-align: center;
    }
  </style>
</head>

<body>
  <table id="miTabla">
    <tbody>
      <tr id="rows">
        <td class="text-sm" colspan="3"><strong>6. ACCIONES COORDINADAS (REFERENCIAS)</strong></td>
      </tr>
      <tr>
        <td class="text-sm"></td>
      </tr>
      <tr>
        <td class="text-sm">Otro especifique</td>
      </tr>
    </tbody>
  </table>
</body>

</html>