'use strict';

const debug = require('debug')('app:db');

let db = {};
if (typeof process.env.NODE_ENV === 'string' && process.env.NODE_ENV === 'test') {
  db = {
    database: process.env.DB_NAME || 'demo',
    username: process.env.DB_USER || 'postgres',
    password: process.env.DB_PASS || 'postgres',
    host: process.env.DB_HOST || 'localhost',
    port: process.env.DB_PORT || '5432',
    dialect: 'postgres',
    timezone: 'America/La_Paz',
    logging: s => debug(s)
  };
} else {
  db = {
    database: process.env.DB_NAME || 'demo',
    username: process.env.DB_USER || 'postgres',
    password: process.env.DB_PASS || 'postgres',
    host: process.env.DB_HOST || 'localhost',
    port: process.env.DB_PORT || '5432',
    dialect: 'postgres',
    timezone: 'America/La_Paz',
    logging: s => debug(s)
  };
}

module.exports = db;
